@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header" id="page-top">
    <div class="header-text">
        @*<h1>An investment in knowledge pays the best interest.</h1>
            <h1>Any fool can know. The point is to understand.</h1>*@
        <h1>"The only true wisdom is in knowing you know nothing."</h1>
        -Socrates
    </div>
    <div class="bottom-triangle"></div>
</div>
<div class="row">
    <div class="col-sm-12">
        Sorry, an error occurred processing your request.
    </div>
</div>