@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using sawal.Models;
@using sawal.Common;

@{
    var blogs = (BlogListModel)ViewBag.BlogListModel;
}
<div class="header" id="page-top">
    <div class="header-text">
        @*<h1>An investment in knowledge pays the best interest.</h1>
            <h1>Any fool can know. The point is to understand.</h1>*@
        <h1>"The only true wisdom is in knowing you know nothing."</h1>
        -Socrates
    </div>
    <div class="bottom-triangle"></div>
</div>
<div class="data-section" id="portfolio">
    <div class="container-fluid cf-50">
        <div class="row pad-vert-5">
            <div class="col-sm-12">
                <p>Greetings! My name is Victor Sawal, an IT Consultant that has worked with <a href="http://www.wcg-itx.com/">WCG:ITX</a>, serving international clients like <a href="http://www.advancehealth.com/">Advance Health</a>.</p>
            </div>
        </div>
        <div class="row recent pad-top-5">
            <div class="col-sm-12 text-center">
                <h3>Recent Projects</h3>
            </div>
            <div class="col-sm-12 recent-list">
                @{
                    var i = 0;
                    foreach (BlogModel blog in blogs.BlogList) {
                        if (blog.BlogTypeId == BlogType.Application) {
                            i++;
                            <div class="row pad-vert-5">
                                <div class="col-sm-12 col-md-8 recent-list-title">
                                    <a href="#">@blog.Title</a>
                                </div>
                                <div class="col-sm-12 col-md-4 recent-list-date">
                                    @blog.PublishDate.ToString("MMM dd, yyyy")
                                </div>
                            </div>
                        }
                        if (i == 2) {
                            break;
                        }
                    }

                    if (i == 0) {
                        <div class="row pad-vert-5">
                            <div class="col-sm-12 col-md-12 text-center">
                                <h3>
                                    Nothing here yet, but it's on the way!<br />
                                    Check back soon.
                                </h3>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row recent pad-top-5">
            <div class="col-sm-12 text-center">
                <h3>Recent Blogs</h3>
            </div>
            <div class="col-sm-12 recent-list">
                @{
                    i = 0;
                    foreach (BlogModel blog in blogs.BlogList) {
                        if (blog.BlogTypeId == BlogType.Blog) {
                            i++;
                            <div class="row pad-vert-5">
                                <div class="col-sm-12 col-md-8 recent-list-title">
                                    <a href="#">@blog.Title</a>
                                </div>
                                <div class="col-sm-12 col-md-4 recent-list-date">
                                    @blog.PublishDate.ToString("MMM dd, yyyy")
                                </div>
                            </div>
                        }
                        if (i == 2) {
                            break;
                        }
                    }

                    if (i == 0) {
                        <div class="row pad-vert-5">
                            <div class="col-sm-12 col-md-12 text-center">
                                <h3>
                                    Nothing here yet, but it's on the way!<br />
                                    Check back soon.
                                </h3>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="data-section" id="read">
    <div class="container-fluid cf-90">
        <div class="row pad-top-5">
            <div class="col-sm-12 text-center">
                <h3>Recent Reads</h3>
            </div>
            <div class="col-sm-12 pad-top-3">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 book-item" onclick="javascript:window.open('https://www.amazon.ca/Growth-Hacker-Marketing-Primer-Advertising/dp/1591847389/ref=sr_1_sc_1?ie=UTF8&qid=1470977034&sr=8-1-spell&keywords=growth+Hacker+marketting', '_blank')"><img src="img/books/ghm.jpg" /><span>Growth Hacker Marketing</span></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 book-item" onclick="javascript:window.open('https://www.amazon.ca/Contagious-Things-Catch-Jonah-Berger/dp/1451686579/ref=sr_1_1?ie=UTF8&qid=1470977017&sr=8-1&keywords=contagious', '_blank')"><img src="img/books/contagious.jpg" /><span>Contagious</span></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 book-item" onclick="javascript:window.open('https://www.amazon.ca/Launch-Pad-Inside-Combinator-ebook/dp/B007X5ZBU4/ref=sr_1_1?ie=UTF8&qid=1470977041&sr=8-1&keywords=the+launch+pad+book', '_blank')"><img src="img/books/launchpad.jpg" /><span>The Launch Pad</span></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 book-item" onclick="javascript:window.open('https://www.amazon.ca/Managing-Oneself-Peter-Ferdinand-Drucker/dp/142212312X/ref=sr_1_1?ie=UTF8&qid=1470977069&sr=8-1&keywords=manage+oneself', '_blank')"><img src="img/books/manageoneself.jpg" /><span>Manage Oneself</span></div>
                    <div class="col-sm-3 col-md-3 col-lg-3 book-item" onclick="javascript:window.open('https://www.amazon.ca/Made-Stick-Ideas-Survive-Others/dp/1400064287/ref=sr_1_1?ie=UTF8&qid=1470977102&sr=8-1&keywords=made+to+stick', '_blank')"><img src="img/books/madetostick.jpg" /><span>Made to Stick</span></div>
                </div>
            </div>
        </div>
    </div>
</div>