a {
    padding: 5px;
    font-weight: bold;
    color: #333332;
    -webkit-transition: all 0.2s ease;
}

    a:hover {
        text-decoration: none;
        color: white;
        background: rgba(48,65,93,0.4);
    }

h3 {
    font-size: 1.3em;
    color: #ddd;
}

html {
    color: #031424;
    background-color: #fff;
}

* {
    font-family: "Poppins", sans-serif;
}

.pad-vert-11 {
    padding: 11% 0;
}

.pad-vert-5 {
    padding: 5% 0;
}

.pad-vert-3 {
    padding: 3% 0;
}

.pad-vert-11 {
    padding: 11% 0;
}

.pad-top-5 {
    padding-top: 5%;
}

.pad-top-3 {
    padding-top: 3%;
}

.pad-top-11 {
    padding-top: 11%;
}

.cf-50 {
    width: 50%;
}

.cf-70 {
    width: 70%;
}

.cf-90 {
    width: 90%;
}

.cf-100 {
    width: 100%;
}

.header {
    position: relative;
    padding: 15px;
    padding-top: 150px;
    min-height: 10%;
    color: white;
    background-color: #333332;
    text-transform: uppercase;
    text-align: center;
    background-image: url("../img/pattern/footer_lodyas/footer_lodyas.png");
    background-repeat: repeat;
}

    .header .header-text {
        padding: 5% 0 11% 0;
    }

        .header .header-text h1 {
            font-size: 100%;
            margin: 0 0;
            padding: 0 0;
            line-height: inherit;
        }

        .header .header-text span h2 {
            display: block;
            font-size: 75%;
            font-weight: 100;
            color: #fff;
            margin: 0 0;
            padding: 0 0;
            line-height: inherit;
            background-color: rgba(48,65,93,0.4);
        }

.bottom-triangle {
    position: relative;
    left: 50%;
    margin-left: -15px;
    top: 30px;
    height: 0;
    width: 0;
    border-top: 15px solid #333332;
    border-right: 15px solid white;
    border-left: 15px solid white;
    background-color: gray;
}

.main-content {
    width: 100%;
    color: #333332;
    font-size: 1.7em;
}

#about {
    min-height: 500px;
    background-color: #CF6766;
}

#misc {
    background-color: #333332;
}

    #misc h2 {
        color: #CF6766;
    }

.data-section {
    padding: 50px 0px 100px 0px;
}

    .data-section h2 {
        font-weight: 700;
        color: #333332;
    }

    .data-section h3 {
        padding: 0 0;
        margin: 0 0;
        font-weight: 600;
    }

    .data-section p {
        padding-top: 3%;
        font-size: 0.9em;
    }

    .data-section b {
        padding: 5px;
        font-weight: 400;
        color: #30415D;
        background: rgba(255,255,255,0.4);
    }

    .data-section a:hover {
        color: white;
        background: rgba(48,65,93,0.4);
    }

.footer {
    font-family: "fontawesome";
    padding: 50px;
    background-color: #FFFFFF;
    min-height: 200px;
}

    .footer #email, .footer #phone {
        font-size: 1.7em;
    }

#contact {
    width: 80%;
    margin: 0 auto;
}

    #contact .row:not(:first-child) {
        margin-top: 15px;
    }

    #contact .row {
        text-align: center;
    }

.dataTables_wrapper {
    font-size: 16px;
}


@media only screen and (max-width : 768px) {
    .container-fluid {
        width: 100%;
    }
}

@media only screen and (max-width : 992px) {
    .container-fluid {
        width: 80%;
    }
}
